
<div>
        <label for="id_con1"> CONTESTANT 1  :  </label>
        <select name="con1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con2"> CONTESTANT 2  :  </label>
        <select name="con2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con3"> CONTESTANT 3  :  </label>
        <select name="con3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con4"> CONTESTANT 4  :  </label>
        <select name="con4">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con5"> CONTESTANT 5 :  </label>
        <select name="con5">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con6"> CONTESTANT 6  :  </label>
        <select name="con6">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con7"> CONTESTANT 7  :  </label>
        <select name="con7">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con8"> CONTESTANT 8  :  </label>
        <select name="con8">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con9"> CONTESTANT 9   :  </label>
        <select name="con9">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="id_con10"> CONTESTANT 10 :  </label>
        <select name="con10">
            <option value="1" >1</option>
            <option value="2">2</option>
            <option value="3" >3</option>
            <option value="4">4</option>
            <option value="5" >5</option>
        </select>



</div>