{% extends 'music/base.html' %}
{% block style %}
    .button {
    width: 60%;
    color: white;
    padding: 14px 20px;
    margin: 8px 20%;
    cursor: pointer;
}


    {% endblock %}

{% block body %}

    <div>

        <div style="margin-top:60px">
             <a href="{% url 'music:round1' %}"><button type="button" class="sbutton button" >Round1 Voting</button></a>
        </div>

        <div >
                <a href="{% url 'music:round2' %}"><button type="button" class="sbutton button" >Round2 Voting</button></a>
        </div>

        <div >
                <a href="{% url 'music:round3' %}"><button type="button" class="sbutton button"  >Round3 Voting</button></a>
        </div>
</div>

{% endblock %}
